body,div,span {
    margin: 0;
    padding: 0;
}
.logo {
    width: 600px;
    height: 280px;
    margin: 0 auto;
    font-size: 0;
}
.logo-g {
    color: blue;
}
.logo-oe {
    color: red;
}
.logo-o2 {
    color: gold;
}
.logo-l {
    color: green;
}
.font140 {
    font-size: 140px;
}
.font100 {
    font-size: 100px;
    font-family: "微软雅黑";
}